@model List<GameResultViewModel>
@{
    ViewData["Title"] = "Game";
}

<h1>Game</h1>

@if (Model.Any())
{
<div class="card" style="width: auto;">
    <div class="card-header">
        Poule Results
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <td>Teamname</td>
                    <td>Points</td>
                    <td>Goals for</td>
                    <td>Goals against</td>
                    <td>Goal difference</td>
                </tr>

            </thead>
            @foreach (GameResultViewModel game in Model)
            {
                <tr>
                    <td>@game.TeamName</td>
                    <td>@game.Points</td>
                    <td>@game.GoalsFor</td>
                    <td>@game.GoalsAgainst</td>
                    <td>@game.GoalDifference</td>
                </tr>

            }

        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary mb-3" style="width:auto" asp-action="Results" asp-controller="Game" asp-route-id="@Url.ActionContext.RouteData.Values["id"]">Play the games</a>
    </div>
</div>
}

